/* General Variables */
@import '../components/variables.scss';

/* Contact Styles */
.contact {
  .banner{
    height: 100vh;
    background-size: cover;
    background-position: center bottom;

    .overlay {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .bannerContent {
        max-width: 990px;
        color: white;
        padding: 0 18px 10px;
        box-sizing: border-box;
        overflow: hidden;

        h1 {
          text-transform: uppercase;
          font-size: 100px;

          @media screen and (max-width: 992px) {
            font-size: 60px;
          }

          @media screen and (max-width: 768px) {
            font-size: 40px;
            padding: 0 20px;
          }
        }

        .aboutButton {
          background-color: $color-main;
          border-radius: 4px;
          height: 50px;
          line-height: 50px;
          padding: 0 20px;
          min-width: 150px;
          text-decoration: none;
          color: white;
          display: inline-block;
          margin-top: 40px;
          text-transform: uppercase;
          font-weight: bold;
          border: 0;
        }
      }
    }
  }

  .container {
    max-width: 660px;
    margin: -10px auto;
    padding: 110px 20px 60px;
    width: 100%;
    
    @media screen and (max-width: 480px) {
      padding: 50px 20px 30px;
    }

    .contactIntro {
      text-align: center;
      margin-bottom: 60px;
    }

    form {
      input,
      textarea {
        width: 100%;
        padding: 0 20px;
        margin-top: 10px;
        display: block;
        border: solid 1px $white-dark;
        outline: none;

        &:focus {
          border: solid 1px $color-secondary;
        }
      }

      input {
        height: 50px;
        line-height: 50px;
      }

      textarea {
        max-width: 100%;
        min-height: 150px;
      }

      button {
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        background-color: $color-secondary;
        color: white;
        border: 0;
        text-transform: uppercase;
        width: 100%;
      }
    }
  }
}
