/* General Variables */
@import '../components/variables.scss';

/* Home Styles */
.home {
  .intro{
    background: $black;
    background-image: url('../images/layout/background.png');  
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;

    .imgContainer {
      max-width: 700px;
      flex: 1
    }
  }
}
