/* General Variables */
@import '../components/variables.scss';

/* Projects Styles */
.projects {
  .banner{
    height: 100vh;
    background-size: cover;
    background-position: center bottom;

    .overlay {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .bannerContent {
        max-width: 990px;
        color: white;
        padding: 0 18px 10px;
        box-sizing: border-box;
        overflow: hidden;

        h1 {
          text-transform: uppercase;
          font-size: 100px;

          @media screen and (max-width: 992px) {
            font-size: 60px;
          }

          @media screen and (max-width: 768px) {
            font-size: 40px;
            padding: 0 20px;
          }
        }

        .aboutButton {
          background-color: $color-main;
          border-radius: 4px;
          height: 50px;
          line-height: 50px;
          padding: 0 20px;
          min-width: 150px;
          text-decoration: none;
          color: white;
          display: inline-block;
          margin-top: 40px;
          text-transform: uppercase;
          font-weight: bold;
          border: 0;
        }
      }
    }
  }

  .container {
    max-width: 990px;
    margin: -10px auto;
    padding: 80px 20px;
    width: 100%;
    
    @media screen and (max-width: 480px) {
      padding: 40px 20px;
    }
  
    .article {
      width: calc(50% - 20px);
      margin: 0 10px;

      @media screen and (max-width: 768px) {
        width: calc(75% - 20px);
        margin: 0 auto;
        border-bottom: 1px solid $white-dark;
      }

      @media screen and (max-width: 480px) {
        width: calc(100% - 20px);
      }

      .link {
        text-decoration: none;
      }

      .details {
        font-weight: bold;
        color: $color-secondary;

        span {
          color: $grey-light;
        }
      }

      .year {
        margin-left: 10px;
        float: right;
      }

      h3 {
        color: $black;
        line-height: 30px;

        span {
          color: $color-main;
        }
      }

      .imageContainer {
        overflow: hidden;
        margin-bottom: 20px;
        position: relative;

        img {
          transition: transform 0.3s ease !important;
        }

        .overlay {
          width: 100%;
          position: absolute;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          top: 0;
          left: 0;
        }
      }

      .tags {
        span {
          display: inline-block;
          color: white;
          margin: 0 10px 10px 0;
          background-color: $color-main;
          border-radius: 10px;
          padding: 0 10px;
          font-size: 14px;
          height: 30px;
          line-height: 30px;
        }
      }

      &:hover {
        .imageContainer {
          img {
            transform: scale(1.2) rotate(5deg);
          }

          .overlay {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
