/* General Variables */
@import '../variables.scss';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-family: Montserrat, Arial, Helvetica, sans-serif !important;
}

button {
  cursor: pointer;
}

p {
  line-height: 30px;
}